.Land-logo {
    height: 8vmin;
    pointer-events: none;
    padding-bottom: 0.5em;
    margin: 1em;
  }
  
  .Land-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
    padding: 0em;
  }
  
  span {
    margin-left: 0.5em;
    /* font-style: italic; */
    font-weight: bolder;
    font-size: xx-large;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    text-align: center;
  }
  
  
  .title {
      font-size: 86px;
      /* font-style: italic; */
      font-weight: bolder;
      line-height: 1.1;
      margin: 30px,0,0,0;
      padding: 0px; color:#0d6efd;
  }
  
  @media (max-width: 755px) {
    .title {
      font-size: 68px;
      line-height: 1.2;
    }
  }
  
  .subtitle {
    font-weight: 500;
    font-size: 30px;
    margin: 0.5em 0;
    padding-top: 0%;
  }
  
  .intro{
    color: #073047;
    
  }
  
  .buttonInIntro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
  }

  .start{
    line-height: 1.5em;
  }